body{
	font-family: 'Noto Sans TC', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Noto Sans TC', sans-serif;
	text-transform; none;
}
subheading {
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 1.2rem;
	text-transform: none;
	letter-spacing: -0.5rem;
}
.bg-primary {
    background-color: #8a0027!important;
background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
span.navbar-dark .navbar-brand {
    color: #ffffff!important;
}
.text-primary {
    color: #635687!important;
}
element.style {
}
a {
    color: #ac2a4f!important;
}
a:active, a:focus, a:hover{
    color: #af426a!important;
}
